.narration-note {
  display: block;
  width: 90%;
  margin: 5rem auto;
  padding: 1rem 0.5rem;
  background-color: #fdf7e3;
  color: #2e2e2e;
  font-family: 'BIZUDMincho', serif;
  border-radius: 0.25rem;
  border: 1px solid rgba(0,0,0,0.12);
  box-shadow: inset 0 0 0.05rem rgba(255,255,255,0.8), 0 1px 3px rgba(0,0,0,0.2), 0 0.25rem 0.5rem rgba(0,0,0,0.05);
  mix-blend-mode: multiply;
  background-image: url("/orachang/images/noise.webp");
  background-size: 128px 128px;
  background-repeat: repeat;
  opacity: 0.96;
  line-height: 1.2;
  position: relative;
  z-index: 3;
}
.narration-note::before {
  content: '';
  position: absolute;
  top: -0.875rem;
  left: 50%;
  transform: translateX(-50%) rotate(3deg);
  width: 5rem;
  height: 1.5rem;
  background: linear-gradient(to right, rgba(183,156,125,0.7), rgba(183,156,125,0.7));
  clip-path: polygon(0 0, 100% 0, 100% 85%, 95% 100%, 90% 85%, 85% 100%, 80% 85%, 75% 100%, 70% 85%, 65% 100%, 60% 85%, 55% 100%, 50% 85%, 45% 100%, 40% 85%, 35% 100%, 30% 85%, 25% 100%, 20% 85%, 15% 100%, 10% 85%, 5% 100%, 0 85%);
  box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,0.1);
  pointer-events: none;
  z-index: 1;
}
